<div class="footer">
	<hr/>
	<p>Last Modified September 6, 2018</p>
	<p>Site <a href="https://github.com/kmacitelli/kmacitelli.github.io">source</a> code</p>
	<p>Feedback? Questions? - <a href="contact.html">Contact me</a></p>
</div>