<div class="sidenav">
	<div id="nameHeading">
		<a href="index.html">
			<h2>Kiera Acitelli</h2>
		</a>
	</div>
	<div>
		<img id="mainPic" src="images/photo.jpg">
	</div>	

	<div id="resume">
		<a href="resources/Acitelli_Kiera_Resume.pdf">Resume  <img id="resumeIcon" src="images/pdfIcon.png"></a>

	</div>

	<div class="contact-img">
		<a href="https://github.com/kmacitelli">
			<img class="contact-img invert" src="images/GitHub-Mark-32px.png" alt="Github Link">
		</a> 

		<a href="mailto:kacitelli@gmail.com">
			<img class="contact-img invert" src="images/Email.png" alt="Email Link">
		</a> 
	</div>

		
	<a href="experience.html" class="pageEl">Experience</a>
    <a href="projects.html" class="pageEl">Projects</a>
	<a href="skills.html" class="pageEl">Skills & Abilities</a>
</div>




