<div class="topBar">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
			<div class="navbar-header">
	      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
	      		</button>
	      		<a class="navbar-brand" href="index.html">Kiera Acitelli</a>
	    	</div>

		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">     
		      		
		        <li><a href="experience.html" class="pageEl">Experience</a></li>
		        <li><a href="projects.html" class="pageEl">Projects</a></li>
		        <li><a href="skills.html" class="pageEl">Skills & Abilities</a></li>
		        <li><a href="resources/Acitelli_Kiera_Resume.pdf">Resume  <img id="resumeIcon" src="images/pdfIcon.png"></a></li>
		        <li><a href="contact.html">Contact me</a></li>
		      </ul>
		    </div>
	  </div>
	</nav> 
</div>




