---
title: Kiera Acitelli - Contact
---



<div class="card">

	<h1>
	Contact me:
	</h1>
	
	<p>
		Email: kacitelli@gmail.com
	</p>
	<p>
		Github: kmacitelli
	</p>
	<p>
		Phone: 724-989-1980
	</p>
</div>