---
title: Coursework
---

<div class="card">
	<h1>
		Coursework - Page under construction
	</h1>

	<ul>
		<li>
			Computer Science - Foundational
			<li>Object Oriented programming concepts</li>
			<li>Data representation</li>
			<li>Logic, graphs, trees</li>
			<li>Algorithm analysis, asymptotic analysis</li>
			<li>Sorting</li>
			<li>NP-Completeness</li>
			<li>Low-level programming</li>
			<li>C, x86 assembly</li>
			<li>Concepts of operating systems</li>
		</li>
		<li>
			Computer Science - Electives/Choice
				<ul>
					<li>Project: Web Applications - Client & Server side scripting; HTML/CSS, Javascript, Ruby/Rails</li>
					<li>Networking - Computer networks, communication protocols, Internet TCP/IP & applications, wireless communications, network security</li>
					<li>Computer Game & animation techniques</li>
					<li>(Planned) Capstone design - game design & development </li>
					<li>(Planned) Software Engineering techniques & Analysis</li>
				</ul>
		</li>
		<li>
			Electrical Engineering:
			<ul>
				<li>ECE 2060 - Digital logic - combinational & clocked sequential networks</li>
				<li>ECE 2020 - Analog systems & circuits - passive components, op amps, laplace transforms</li>
			</ul>
		</li>

		<li>
			Psychology (Minor) 
			<ul>
				
			</ul>
		</li>
	</ul>
</div>
