---
title: Coursework
---

<div class="card">
	<h1>
		Coursework - Page under construction
	</h1>

	<ul>
		<li>
			Computer Science - Foundational
				<ul>
					<li>Software 1 & 2 - Foundations of software engineering, OOP concepts (Java), data representation</li>
						<ul>
							<li> Grader Software 1 - Fall 2016 through Spring 2017
						</ul>
					<li>Foundations 1 & 2 - Logic, graphs, trees, algorithm analysis, asymptotic analysis, sorting, NP-completeness</li>
						<ul>
							<li> Grader Foundations 1 - Fall 2017 through Spring 2018
						</ul>
					<li>Systems 1 & 2 - Low level programming (C, x86 Assembly), concepts of operating systems</li>
				</ul>
		</li>
		<li>
			Computer Science - Electives/Choice
				<ul>
					<li>Project: Web Applications - Client & Server side scripting; HTML/CSS, Javascript, Ruby/Rails</li>
					<li>Networking - Computer networks, communication protocols, Internet TCP/IP & applications, wireless communications, network security</li>
					<li>Computer Game & animation techniques</li>
					<li>(Planned) Capstone design - game design & development </li>
					<li>(Planned) Software Engineering techniques & Analysis</li>
				</ul>
		</li>
		<li>
			Electrical Engineering:
			<ul>
				<li>ECE 2060 - Digital logic - combinational & clocked sequential networks</li>
				<li>ECE 2020 - Analog systems & circuits - passive components, op amps, laplace transforms</li>
			</ul>
		</li>
		<li>
			Math & Science
			<ul>
				<li> Calculus 1, 2, 3</li>
				<li> Linear Algebra </li>
				<li> Foundations of higher mathematics - logic, proof techniques, set theory, number theory </li>
				<li> Engineering Statistics
				<li> Physics 1 & 2 - Mechanics, thermal physics, waves, electricity & magnetism
			</ul>
		</li>
		<li>
			Psychology (Minor)
			<ul>
				<li> Psychology research methods & statistics</li>
				<li> Introduction to behavioral neuroscience </li>
				<li> (Planned) Advanced behavioral neuroscience </li>
			</ul>
		</li>
	</ul>
</div>
