---
title: Education
---

<!--Education section-->

<h1>
	Education:
</h1>

<p>
	I am a third year student at The Ohio State University studying computer science & engineering. I am also pursuing a minor in psychology and am a part of the university honors program. I have a 3.69 major GPA and a 3.47 overall GPA.
</p>


Some specific academic interests include:
<ul>
	<li>
		Application development
	</li>
	<li>
		Security and risk management
	</li>
	<li>
		Artificial intelligence
	</li>
</ul>
