---
title: Experience
---

<!--Experience section-->

<h1>
	Work Experience:
</h1>

<ul>
	<li>
		<strong>Undergraduate Teaching Assistant for Foundations 1 - Fall 2017-Present</strong>
		<ul>
			<li>
				Graded homework and assignments for the intro discrete structures & algorithm analysis class
				
			</li>
		</ul>

	</li>
	<li>
		<strong>Internship at HM Health solutions (Highmark) in Application development - Summer 2017</strong>
		<ul>
			<li>
				Part of an initiative to improve documentation for Highmark applications to comply with ISO 200001 certification – created automation processes that saved approximately 20% effort
				
			</li>
			<li>
				Worked as part of an application development team to develop and support their applications
			</li>
		</ul>
	</li>
	<li>
		<strong>Undergraduate Teaching Assistant for Software 1 - Fall 2016-Spring 2017</strong>
		<ul>
			<li>
				Responsible for attending intro software engineering classes and assisting students with any questions or issues
				
			</li>
			<li>
				Graded homework and projects and communicated with students and instructor to provide feedback
			</li>
		</ul>

	</li>
	<li>
		<strong>Internship at HM Health solutions (Highmark) in Platform build and deploy - Summer 2016</strong>
		<ul>
			<li>
				Upheld build and deploy standards that ensure the integrity of the test and production environments
				
			</li>
			<li>
				Communicated with developers and other team members to complete build & deploy requests and resolve any issues that occurred
			</li>
		</ul>
	</li>
	<li>
		<strong>Library page & Library Volunteer | West Allegheny Community Library | September 2011-August 2015</strong>

		<ul>
			<li>
				Responsible for shelving books, assisting patrons at the front desk, locating paging lists, and completing other duties necessary to the functioning of the library.
				
			</li>
		</ul>
	</li>
</ul>
