---
title: Kiera Acitelli - Homepage
---

<!--About me section-->

<h1>
	About Me:
</h1>

<p>
	Hi! My name is Kiera. I will be graduating OSU spring 2019 and am looking for a full time job!
</p>






  

