---
title: Kiera Acitelli - Homepage
---

<!--About me section-->

<h1>
	About Me:
</h1>

<p>
	Hi! My name is Kiera. I will be working at JP Morgan & Chase in their technology internship program this upcoming summer (2018).
</p>






  

