---
title: Kiera Acitelli - Homepage
---

<!--About me section-->



<div class="card">
	<h1>
		About Me:
	</h1>

	<p>
		Hi! I'm Kiera, and I'm a computer science and engineering student at The Ohio State University. I will be graduating Spring 2019, and am currently looking for a full time position. 
	</p>
	<p>
		I have extensive class and internship experience in software engineering, specifically with front-end web development using Ruby on Rails and game development using C# and Unity.
	</p>
	<p>
		You can view my resume 
		<a href="resources/Acitelli_Kiera_Resume.pdf" download>here</a>
		or find my contact information 
		<a href="contact.html">here</a> 
		. Click the links to the side to learn more!
	</p>
</div>

<div class="card">
	<h1>
		Education:
	</h1>

	<p>
		 I am also pursuing a minor in psychology and am a part of the university honors program. I have a 3.52 GPA.
	</p>
</div>






  

