---
title: Projects
---

<!--Projects section-->

<h1>
	Projects:
</h1>

<ul>
	<li style="text-align:left">
		<a href="robotInfoPage.html">FEH robot project</a>
	</li>
	<li style="text-align:left">
		Hackathon projects:
			<ul>
				<li>
					<a href="https://github.com/Yegie/Hackathon2016">GeoGame</a> - HackOHI/O 2016
					<ul>
					<li>
							Android App that creates a "collect the tokens" game to motivate users to run. 
					</li>
					</ul>
				</li>
				<li>
					<a href="https://github.com/jmkuehn/MovieBase">MovieBase</a> - HackIllinois 2016
					<ul>
					<li>
							Website implemented with ruby on rails that allows users to easily find movies to watch with friends. Won best use of CSG's API at HackIllinois 2016
					</li>
					</ul>
				</li>
				<li>
					<a href="https://github.com/ebencarek/FriendMe">FriendMe</a> - HackOHI/0 2015
					<ul>
					<li>
							Android App that allows users to automatically add each other to contacts and on various social media sites by tapping phones together (NFC)									
					</li>
					</ul>
				</li>
			</ul>
	</li>
	<li style="text-align:left">
		<a href="https://youtu.be/BeNQYmuWtNw">MakeOHI/O Project 2016</a>
			<ul>
			<li>
					MakeOHI/O is a 24 hour hardware hackathon. Above link is of the "plant watering counter" we made which would count number of days since user has pressed the reset button (watered their plant)
			</li>
			</ul>
	</li>
						<li style="text-align:left">
		<a href="https://github.com/kmacitelli/kmacitelli.github.io">This webpage</a>
	</li>
</ul>
