---
title: Skills & Abilities
---

<div class="card">

	<h1>
		Skills: - Page under construction - More detail to come!
	</h1>

	<ul>
		<li style="text-align:left">
			Web Development
				<ul>
					<li>HTML5, CSS</li>
					<li>Ruby, Ruby on Rails</li>
				</ul>
		</li>
		<li style="text-align:left">
			Programming:
				<ul>
					<li>Version control systems - Git, SVN, harvest, IBM UrbanCode</li>
				</ul>
		</li>
		<li style="text-align:left">
			Other Technology
				<ul>
					<li> Familiarity with Bash, Bash scripting</li>
					<li> Experience with using, installation, and management of Windows & Linux operating systems </li>
				</ul>
		</li>
		<li>
			Interpersonal
			<ul>
				<li></li>
			</ul>
		</li>
	</ul>
</div>
