---
title: Skills & Abilities
---

<div class="card">
	<h1>
		Programming/scripting languages
	</h1>

	<table class="table">
		<col width="130">
  		<col width="130">
    	<col width="130">
		<tr>
			<th>Experienced</th>
			<th>Proficient</th>
			<th>Familiar</th>
		</tr>
		<tr>
			<td>
				<p>Java</p>
				<p>Ruby on Rails</p>
				<p>HTML/CSS</p>
			</td>
			<td>
				<p>Javascript</p>
				<p>C#/Unity</p>
				<p>C</p>
				<p>C++</p>
			</td>
			<td>
				<p>x86 assembly</p>
				<p>Matlab</p>
			</td>
		</tr>
	</table> 

</div>

<div class="card">

	<h1>
		Other technologies used
	</h1>

	<ul>
		<li>Quality assurance automated test development using Cucumber and Gherkin</li>
		<li>Android development</li>
		<li>Node.js</li>
		<li>Version control & release management systems - Git, Harvest, IBM UrbanCode</li>
		<li>Linux, Bash shell, Bash scripting</li>
	</ul>

</div>

<div class="card">
	<h1>
		Other skills
	</h1>

	<ul>
		<li>Object Oriented programming</li>
		<li>Agile methodology</li>
		<li>Algorithm analysis, asymptotic analysis</li>
		<li>Web Applications - Client & Server side scripting; HTML/CSS, Javascript, Ruby on Rails</li>
		<li>Networking - Computer networks, communication protocols, Internet TCP/IP & applications, wireless communications, network security</li>
		<li>Computer Game & animation techniques</li>		
	</ul>
</div>
